@import url(reset.css);
/* line 2, /Users/Abhishek/Playground/scripton/customerize/style.scss */
body {
  background-color: #374057; }

/* line 6, /Users/Abhishek/Playground/scripton/customerize/style.scss */
#c, #target {
  border: 1px solid white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

/* line 16, /Users/Abhishek/Playground/scripton/customerize/style.scss */
#target {
  height: 400px; }

/* line 21, /Users/Abhishek/Playground/scripton/customerize/style.scss */
.hidden {
  display: none; }

/* line 24, /Users/Abhishek/Playground/scripton/customerize/style.scss */
#bgimage {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -99999;
  height: 100vh; }

/* line 32, /Users/Abhishek/Playground/scripton/customerize/style.scss */
.header {
  font-family: Metropolis-SemiBold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px; }

/* line 42, /Users/Abhishek/Playground/scripton/customerize/style.scss */
.content {
  text-align: center;
  margin: 0 auto;
  margin-top: 12vw;
  margin-left: 15vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  /* line 52, /Users/Abhishek/Playground/scripton/customerize/style.scss */
  .content .r0 {
    display: flex;
    flex-direction: column; }
    /* line 55, /Users/Abhishek/Playground/scripton/customerize/style.scss */
    .content .r0 .textcntrl {
      text-align: center;
      display: flex;
      flex-direction: column; }
      /* line 59, /Users/Abhishek/Playground/scripton/customerize/style.scss */
      .content .r0 .textcntrl button {
        padding: 12px;
        background-color: #2A3041;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        font-family: Metropolis-SemiBold;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0; }
      /* line 70, /Users/Abhishek/Playground/scripton/customerize/style.scss */
      .content .r0 .textcntrl .font {
        margin: 16px 0;
        background-color: transparent !important;
        border: 0;
        outline: 0;
        font-family: Metropolis-Medium;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: -0.5px;
        border-bottom: 1px solid #979797;
        border-radius: 0px; }
        /* line 81, /Users/Abhishek/Playground/scripton/customerize/style.scss */
        .content .r0 .textcntrl .font #rob {
          font-family: 'Roboto'; }
        /* line 84, /Users/Abhishek/Playground/scripton/customerize/style.scss */
        .content .r0 .textcntrl .font #lob {
          font-family: 'Lobster'; }
        /* line 87, /Users/Abhishek/Playground/scripton/customerize/style.scss */
        .content .r0 .textcntrl .font #air {
          font-family: 'Airstrike'; }
        /* line 90, /Users/Abhishek/Playground/scripton/customerize/style.scss */
        .content .r0 .textcntrl .font #ac {
          font-family: 'American Captain'; }
      /* line 94, /Users/Abhishek/Playground/scripton/customerize/style.scss */
      .content .r0 .textcntrl input[type="text"] {
        margin: 16px 0;
        background-color: transparent;
        border: 0;
        outline: 0;
        font-family: Metropolis-Regular;
        font-size: 14px;
        color: #fff;
        border-bottom: 1px solid #979797; }
      /* line 104, /Users/Abhishek/Playground/scripton/customerize/style.scss */
      .content .r0 .textcntrl .colors {
        display: flex;
        flex-direction: column; }
        /* line 107, /Users/Abhishek/Playground/scripton/customerize/style.scss */
        .content .r0 .textcntrl .colors .ind {
          display: flex;
          flex-direction: row;
          margin: 16px 0 16px 0;
          justify-content: space-between; }
          /* line 112, /Users/Abhishek/Playground/scripton/customerize/style.scss */
          .content .r0 .textcntrl .colors .ind div {
            box-shadow: 2px 3px 3px 0 rgba(26, 34, 54, 0.25);
            border-radius: 2px;
            height: 24px;
            width: 24px;
            cursor: pointer; }
          /* line 119, /Users/Abhishek/Playground/scripton/customerize/style.scss */
          .content .r0 .textcntrl .colors .ind #white {
            background-color: white; }
          /* line 122, /Users/Abhishek/Playground/scripton/customerize/style.scss */
          .content .r0 .textcntrl .colors .ind #black {
            background-color: black; }
          /* line 125, /Users/Abhishek/Playground/scripton/customerize/style.scss */
          .content .r0 .textcntrl .colors .ind #blue {
            background-color: #4A90E2; }
          /* line 128, /Users/Abhishek/Playground/scripton/customerize/style.scss */
          .content .r0 .textcntrl .colors .ind #red {
            background-color: #D0021B; }
          /* line 131, /Users/Abhishek/Playground/scripton/customerize/style.scss */
          .content .r0 .textcntrl .colors .ind #purple {
            background-color: #9013FE; }
          /* line 134, /Users/Abhishek/Playground/scripton/customerize/style.scss */
          .content .r0 .textcntrl .colors .ind #yellow {
            background-color: #F8E71C; }
        /* line 138, /Users/Abhishek/Playground/scripton/customerize/style.scss */
        .content .r0 .textcntrl .colors input {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          margin: 0 0 16px 0; }
    /* line 147, /Users/Abhishek/Playground/scripton/customerize/style.scss */
    .content .r0 label {
      text-transform: uppercase;
      border-radius: 3px;
      cursor: pointer;
      padding: 12px;
      background-color: #2A3041;
      font-family: Metropolis-SemiBold;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0; }
      /* line 148, /Users/Abhishek/Playground/scripton/customerize/style.scss */
      .content .r0 label img {
        margin-right: 8px;
        vertical-align: baseline; }
  /* line 163, /Users/Abhishek/Playground/scripton/customerize/style.scss */
  .content .r1 {
    width: 400px;
    height: 400px; }
  /* line 168, /Users/Abhishek/Playground/scripton/customerize/style.scss */
  .content .r2 .confirm {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: white;
    padding: 12px;
    font-family: Metropolis-Bold;
    font-size: 20px;
    color: #1284F6;
    letter-spacing: 0.62px; }

/*# sourceMappingURL=style.css.map */