.modal_hai {
	position: fixed;
	background-color: white;
	z-index: 1000;
    box-shadow: 1px 3px 11px 1px;
    border-radius: 3px;
	top: 5vh;
	bottom: 5vh;
	height: 90vh;
	width: 90vw;

	right: 5vw;
	left: 5vw;
}