@import url(reset.css);
/* line 2, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
body {
  background-color: #374057; }

/* line 6, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
#c, #target,
.canvas-container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

/* line 16, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
#preview {
  display: none; }

/* line 20, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
#target {
  height: 400px; }

/* line 25, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
.hidden {
  display: none; }

/* line 29, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
#bgimage {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -99999;
  height: 100vh; }

/* line 37, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
#deleteobj {
  margin: 16px 0;
  padding: 12px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: #2A3041;
  font-family: Metropolis-SemiBold;
  font-size: 16px;
  color: red;
  letter-spacing: 0;
  width: 100%; }

/* line 51, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  /* line 54, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
  .header img {
    align-self: center;
    margin-top: 16px; }
  /* line 59, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
  .header h1 {
    font-family: Metropolis-SemiBold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 16px; }

/* line 70, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
.content {
  text-align: center;
  margin: 0 auto;
  margin-top: 8vw;
  margin-left: 10vw;
  margin-right: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  /* line 80, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
  .content .r0 {
    display: flex;
    flex-direction: column; }
    /* line 83, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
    .content .r0 .textcntrl {
      text-align: center;
      display: flex;
      flex-direction: column; }
      /* line 87, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
      .content .r0 .textcntrl button {
        padding: 12px;
        border-radius: 3px;
        border: none;
        background-color: #7ED321;
        cursor: pointer;
        font-family: Metropolis-SemiBold;
        font-size: 16px;
        color: white;
        letter-spacing: 0;
        width: 100%; }
      /* line 99, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
      .content .r0 .textcntrl .font {
        margin: 16px 0;
        background-color: transparent !important;
        border: 0;
        outline: 0;
        font-family: Metropolis-Medium;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: -0.5px;
        border-bottom: 1px solid #979797;
        border-radius: 0px; }
        /* line 110, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
        .content .r0 .textcntrl .font #rob {
          font-family: 'Roboto'; }
        /* line 113, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
        .content .r0 .textcntrl .font #lob {
          font-family: 'Lobster'; }
        /* line 116, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
        .content .r0 .textcntrl .font #air {
          font-family: 'Airstrike'; }
        /* line 119, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
        .content .r0 .textcntrl .font #ac {
          font-family: 'American Captain'; }
      /* line 123, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
      .content .r0 .textcntrl input[type="text"] {
        margin: 16px 0;
        background-color: transparent;
        border: 0;
        outline: 0;
        font-family: Metropolis-Regular;
        font-size: 14px;
        color: #fff;
        border-bottom: 1px solid #979797; }
      /* line 133, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
      .content .r0 .textcntrl .colors {
        display: flex;
        flex-direction: column; }
        /* line 136, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
        .content .r0 .textcntrl .colors .ind {
          display: flex;
          flex-direction: row;
          margin: 16px 0 16px 0;
          justify-content: space-between; }
          /* line 141, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
          .content .r0 .textcntrl .colors .ind div {
            box-shadow: 2px 3px 3px 0 rgba(26, 34, 54, 0.25);
            border-radius: 2px;
            height: 24px;
            width: 24px;
            cursor: pointer; }
          /* line 148, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
          .content .r0 .textcntrl .colors .ind #fff {
            background-color: white; }
          /* line 151, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
          .content .r0 .textcntrl .colors .ind .blackcolor {
            background-color: black; }
          /* line 154, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
          .content .r0 .textcntrl .colors .ind .bluecolor {
            background-color: #4A90E2; }
          /* line 157, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
          .content .r0 .textcntrl .colors .ind #D0021B {
            background-color: #D0021B; }
          /* line 160, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
          .content .r0 .textcntrl .colors .ind .purplecolor {
            background-color: #9013FE; }
          /* line 163, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
          .content .r0 .textcntrl .colors .ind #F8E71C {
            background-color: #F8E71C; }
        /* line 167, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
        .content .r0 .textcntrl .colors input {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          margin: 0 0 16px 0; }
    /* line 176, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
    .content .r0 label {
      text-transform: uppercase;
      border-radius: 3px;
      cursor: pointer;
      padding: 12px;
      background-color: #2A3041;
      font-family: Metropolis-SemiBold;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0; }
      /* line 177, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
      .content .r0 label img {
        margin-right: 8px;
        vertical-align: baseline; }
  /* line 192, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
  .content .r1 {
    width: 400px;
    height: 400px; }
  /* line 197, /Users/Abhishek/Playground/scripton/customerize/ext/app/style.scss */
  .content .r2 .confirm {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: white;
    padding: 12px;
    font-family: Metropolis-Bold;
    font-size: 20px;
    color: #1284F6;
    letter-spacing: 0.62px; }

/*# sourceMappingURL=style.css.map */