@import "reset.css";

:root{
    --hue:180deg;
}


body {
    background-color: #374057;
}

#c,
.canvas-container {
    position: absolute!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#preview {
    display: none;
}

#target {
    @extend #c;
    height: 400px;
}

.hidden {
    display: none;
}

#bgimage {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -8888;
    height: 100vh;
}

#deleteobj {
    margin: 16px 0;
    padding: 12px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #2A3041;
    font-family: Metropolis-SemiBold;
    font-size: 16px;
    color: red;
    letter-spacing: 0;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    img {
        align-self: center;
        margin-top: 16px;
    }
    justify-content: center;
    h1 {
        font-family: Metropolis-SemiBold;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 6px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 16px;
    }
}

.content {
    text-align: center;
    margin: 0 auto;
    margin-top: 8vw;
    margin-left: 10vw;
    margin-right: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .r0 {
        display: flex;
        flex-direction: column;
        .textcntrl {
            text-align: center;
            display: flex;
            flex-direction: column;
            button {
                padding: 12px;
                border-radius: 3px;
                border: none;
                background-color: #7ED321;
                cursor: pointer;
                font-family: Metropolis-SemiBold;
                font-size: 16px;
                color: white;
                letter-spacing: 0;
                width: 100%;
            }
            .font {
                margin: 16px 0;
                background-color: transparent!important;
                border: 0;
                outline: 0;
                font-family: Metropolis-Medium;
                font-size: 16px;
                color: #FFFFFF;
                letter-spacing: -0.5px;
                border-bottom: 1px solid #979797;
                border-radius: 0px;
                #rob {
                    font-family: 'Roboto';
                }
                #lob {
                    font-family: 'Lobster';
                }
                #air {
                    font-family: 'Airstrike';
                }
                #ac {
                    font-family: 'American Captain';
                }
            }
            input[type="text"] {
                margin: 16px 0;
                background-color: transparent;
                border: 0;
                outline: 0;
                font-family: Metropolis-Regular;
                font-size: 14px;
                color: #fff;
                border-bottom: 1px solid #979797;
            }
            .colors {
                display: flex;
                flex-direction: column;
                .ind {
                    display: flex;
                    flex-direction: row;
                    margin: 16px 0 16px 0;
                    justify-content: space-between;
                    div {
                        box-shadow: 2px 3px 3px 0 rgba(26, 34, 54, 0.25);
                        border-radius: 2px;
                        height: 24px;
                        width: 24px;
                        cursor: pointer;
                    }
                    #fff {
                        background-color: white;
                    }
                    .blackcolor {
                        background-color: black;
                    }
                    .bluecolor {
                        background-color: #4A90E2;
                    }
                    #D0021B {
                        background-color: #D0021B;
                    }
                    .purplecolor {
                        background-color: #9013FE;
                    }
                    #F8E71C {
                        background-color: #F8E71C;
                    }
                }
                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    margin: 0 0 16px 0;
                }
            }
        }
        label {
            img {
                margin-right: 8px;
                vertical-align: baseline;
            }
            text-transform: uppercase;
            border-radius: 3px;
            cursor: pointer;
            padding: 12px;
            background-color: #2A3041;
            font-family: Metropolis-SemiBold;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
        }
    }
    .r1 {
        width: 400px;
        height: 400px;
    }
    .r2 {
        .confirm {
            cursor: pointer;
            border: none;
            border-radius: 3px;
            text-transform: uppercase;
            background-color: white;
            padding: 12px;
            font-family: Metropolis-Bold;
            font-size: 20px;
            color: #1284F6;
            letter-spacing: 0.62px;
        }
    }
}

//mug css
#cntrl {
    .range {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        left: 25%;
        top: 68%;
        width: 200px;
        margin-top: 10px;
        transform: translate(-50%, -50%);
    }
    input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background: rgba(59, 173, 227, 1);
        background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
        background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
        height: 2px;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-moz-range-track {
        -moz-appearance: none;
        background: rgba(59, 173, 227, 1);
        background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59, 173, 227, 1)), color-stop(25%, rgba(87, 111, 230, 1)), color-stop(51%, rgba(152, 68, 183, 1)), color-stop(100%, rgba(255, 53, 127, 1)));
        background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        background: -ms-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
        height: 2px;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 2px solid;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        max-width: 80px;
        position: relative;
        bottom: 11px;
        background-color: #1d1c25;
        cursor: -webkit-grab;
        -webkit-transition: border 1000ms ease;
        transition: border 1000ms ease;
    }
    input[type=range]::-moz-range-thumb {
        -moz-appearance: none;
        border: 2px solid;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        max-width: 80px;
        position: relative;
        bottom: 11px;
        background-color: #1d1c25;
        cursor: -moz-grab;
        -moz-transition: border 1000ms ease;
        transition: border 1000ms ease;
    }
    .range.blue::-webkit-slider-thumb {
        border-color: rgb(59, 173, 227);
    }
    .range.ltpurple::-webkit-slider-thumb {
        border-color: rgb(87, 111, 230);
    }
    .range.purple::-webkit-slider-thumb {
        border-color: rgb(152, 68, 183);
    }
    .range.pink::-webkit-slider-thumb {
        border-color: rgb(255, 53, 127);
    }
    .range.blue::-moz-range-thumb {
        border-color: rgb(59, 173, 227);
    }
    .range.ltpurple::-moz-range-thumb {
        border-color: rgb(87, 111, 230);
    }
    .range.purple::-moz-range-thumb {
        border-color: rgb(152, 68, 183);
    }
    .range.pink::-moz-range-thumb {
        border-color: rgb(255, 53, 127);
    }
    input[type=range]::-webkit-slider-thumb:active {
        cursor: -webkit-grabbing;
    }
    input[type=range]::-moz-range-thumb:active {
        cursor: -moz-grabbing;
    }
}
